# Java / Maven
target/
.mvn/
mvnw
mvnw.cmd
*.log

# IDEs
.idea/
.vscode/
*.iml
.DS_Store
.classpath
.project
.settings/

# Frontend
node_modules/
dist/
build/
.env.local

# Docker
.dockerignore
db_data/
